<div class="dash-marg">
    <div class="form-style">
        <input class="input-style" placeholder="Title">
        <input type="text" class="input-style content-input" placeholder="Content...">
        <button class="login-button">Post</button>
    </div>
</div>