{{#each blog }}
<div class="row mb-4 project">
    <div class="col-md-5">
        <a href="/blogpost/{{blog.id}}">{{blog.name}}</a>
        <p>Posted by {{user.username}} {{format_date blogPost.dat_created}}</p>
    </div>
    <div>
        <p>{{}}</p>
    </div>
</div>
{{/each}}