
    <div class="login-row">
    <div class="login-style">
        <input id="username-login" class="input-style" type="email" placeholder="Username">
        <input id="password-login" class="input-style" type="password" placeholder="Password">
        <button id="login-listen" class="login-button">Login</button>
    </div>
    <div class="login-style">
        <input id="username-signup" class="input-style" type="email" placeholder="Username">
        <input id="password-signup" class="input-style" type="password" placeholder="Password">
        <button id="signup-listen" class="login-button">Sign Up</button>
    </div>
    </div>

<script src="/js/login.js"></script>