<main class="center">
    <div class="login-row">
    <div class="login-style">
        <input class="input-style" type="email" placeholder="Username">
        <input class="input-style" type="password" placeholder="Password">
        <button class="login-button">Login</button>
    </div>
    <div class="login-style">
        <input class="input-style" type="email" placeholder="Username">
        <input class="input-style" type="password" placeholder="Password">
        <button class="login-button">Sign Up</button>
    </div>
    </div>
</main>