* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
    max-height: 100vh;
  }
  
  body {
    min-height: 100%;
    line-height: 1;
    font-family: Sans-Serif,;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 100%;
  }
  
  input,
  select,
  option,
  optgroup,
  textarea,
  button,
  pre,
  code {
    font-size: 100%;
    font-family: inherit;
  }
  
  ol,
  ul {
    list-style: none;
  }

  /* main */

.nav-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 400px;
}

.nav-style {
    background-color: antiquewhite;
    height: 5rem;
    border-bottom: 3px solid black;
}

.a-style {
    color: #333;
    text-decoration: none;
    font-size: 2.4rem;
    background-color: rgba(51, 51, 51, 0.1);
    border: 3px solid black;
    margin: .7rem;
    padding: .3rem;
    border-radius: .5rem;
    transition: .3s;
}

.a-style:hover {
    background-color: rgba(51, 51, 51, 0.3);
}

@media screen and (max-width: 553px) {
    .a-style {
        font-size: 1.7rem;
        margin-top: 1.2rem;
    }
}

/* login */

.login-style {
    margin: 1rem;
    padding: 2rem;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    height: 80vh;
    border: 3px solid black;
    border-radius: 1rem;
    width: 35%;
}

.login-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-style {
    padding: .5rem;
    border: 3px solid black;
    border-radius: 5rem;
    margin: 1rem;
}

.login-button {
    border-radius: 5rem;
    width: 40%;
    margin: 0 auto;
    padding: 3px;
    background-color: rgba(51, 51, 51, 0.1);
    transition: .3s;
}

.login-button:hover {
    background-color: rgba(51, 51, 51, 0.3);
    cursor: pointer;
}

@media screen  and (max-width: 600px){
    .login-row {
        flex-direction: column;
        justify-content: center;
    }
    .login-style {
        height: 40vh;
        width: 90%;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .login-style {
        width: 47%;
    }
}